<div class="worm">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left" id="logHeader">
		<div id="popButton" x-mojo-tap-highlight="momentary"><div class="icon"></div></div>
        <div x-mojo-element="ToggleButton" id="onToggle"></div>
		<div class="title" id="worm-title"></div>
	</div>
	
	<div class="palm-header-spacer" style="height: 56px;"></div>
	
	<canvas id="nodesCanvas" width="320" height="190"></canvas>
	<canvas id="handlesCanvas" width="320" height="190"></canvas>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>