<div class="worm">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left" id="logHeader">
		<div id="popButton" x-mojo-tap-highlight="momentary"><div class="icon"></div></div>
        <div x-mojo-element="ToggleButton" id="onToggle"></div>
		<div class="title" id="worm-title"></div>
	</div>
	
	<div class="palm-header-spacer" style="height: 46px;"></div>
	
	<table class="palm-divider labeled">
		<tr>
			<td class="left"></td>
			<td class="label" id="nodes-label">DOM Nodes</td>
			<td class="right"></td>
			<td class="bubble"><div id="nodesCurrent">0</div></td>
		</tr>
	</table>
	<div class="graph" style="height: 160px;">
		<div id="nodesLabels" class="labels"></div>
		<canvas id="nodesCanvas" width="320" height="161"></canvas>
	</div>
	
	<table class="palm-divider labeled">
		<tr>
			<td class="left"></td>
			<td class="label" id="handles-label">Service Handles</td>
			<td class="right"></td>
			<td class="bubble"><div id="handlesCurrent">0</div></td>
		</tr>
	</table>
	<div class="graph" style="height: 160px;">
		<div id="handlesLabels" class="labels"></div>
		<canvas id="handlesCanvas" width="320" height="161"></canvas>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>