<div class="timing func log">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left" id="logHeader">
		<div class="title" id="timing-title"></div>
	</div>
	
	<div class="palm-header-spacer" style="height: 44px;"></div>
	
	<table class="palm-divider labeled">
		<tr>
			<td class="bubble"><div>Function</div></td>
			<td class="center"></td>
			<td class="bubble"><div>Time</div></td>
			<td class="bubble"><div>#</div></td>
		</tr>
	</table>
	
	<div id="timing" class="timing-messages log-messages" x-mojo-element="List"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>