<div class="timing func log">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left" id="logHeader">
		<div class="title" id="timing-title"></div>
	</div>
	
	<div class="palm-page-header multi-line" id="logHeaderDesc">
		<div class="rowHead">
			<div class="scene">Function</div>
			<div class="time">Time</div>
			<div class="count">#</div>
		</div>
	</div>
	
	<div class="palm-header-spacer" style="height: 85px;"></div>
	
	<div id="timing" class="timing-messages log-messages" x-mojo-element="List"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>