<div class="timing log">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left" id="logHeader">
		<div id="reloadButton" x-mojo-tap-highlight="momentary"><div class="icon"></div></div>
		<div class="title" id="timing-title"></div>
	</div>
	
	<div class="palm-header-spacer" style="height: 56px;"></div>
	
	<div x-mojo-element="Spinner" id="spinner"></div>
	
	<div id="timing" class="timing-messages log-messages" x-mojo-element="List"></div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>