<div class="prefs form">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title" id="preferences-title">Preferences</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="preferences-global">Global</div>
		<div class="palm-list">
			
			<div class="palm-row first"> <!-- x-mojo-tap-highlight="momentary" //-->
				<div class="palm-row-wrapper">
					<div id="theme" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="setLogLevel" x-mojo-element="ListSelector"></div>
					<div class="palm-body-text note">* Changes LunaSysMgrJS on Start.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="preferences-global">Main Scene</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="label left" id="list-stock-apps">List Stock Apps</div>
					<div id="listStockApps" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left" id="list-stock-apps">Log In New Card</div>
					<div id="popLog" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="preferences-global">Log Scenes</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="fontSize" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="copyStyle" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group" id="secretPreferences" style="display: none;">
		<div class="palm-group-title" id="secret-stuff">Secret Stuff</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="label left" id="secret-options">This version has no secret options.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
